

html,body{
margin: 0;
padding: 0;

 font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;

}

.sobre{
  width: 100%;
  min-height: 40vh;
  font-size: 14pt;
  color: rgb(252, 252, 247);
  background-color: #022f3bc4;
  text-align: center;
  padding: 10px 0 0 0;
  line-height: 30px;
  margin-bottom: 17px;
  
}
#txo{
  font-size: 25px;
  
}

#obrig{
  /* background-image: url(./clareesc.jpg); */
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

p{
  font-size: 20px;
}
